* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: ghostwhite;
}

.location {
    text-align: center;
    font-family: sans-serif;
}

.slider {
 }

.slider__box {
    position: relative;
    width: 1024px;
    margin: auto;
}

.slider__wrapper {
    position: relative;
    height: auto;
    margin: auto;
    overflow: hidden;

}

.slider__container {
    position: relative;
    width: 1024px;
    display: flex;
    flex-direction: row;
    transition: transform 0.6s ease;
}

.slider__item {
    align-self: stretch;
    width: 256px;
    background-color: white;
    outline: ghostwhite solid 2px;
}

.item__day, .item__date, .item__image, .item__tempDay, .item__tempNight, .item__cloud, .item__rain {
    text-align: center;
    font-family: sans-serif;
}

.item__day {
    margin-top: 15px;
    font-weight: 600;
}

.item__date {
    margin-top: 12px;
    font-weight: bold;
    font-size: 26px;
}
.item__image {
    margin-top: -20px;
}

.item__tempDay {
    font-weight: bold;
    font-size: 26px;
}

.item__tempNight {
    font-weight: 600;
    font-size: 18px;
}

.item__cloud {
    margin-top: 15px;
    font-weight: 600;
}

.item__rain {
    margin-bottom: 15px;
    font-weight: 600;
}

.slider__control {
    position: absolute;
    top: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    height: 50px;
    transform: translateY(-50%);
}

.slider__control_left {
    left: -30px;
}

.slider__control_right {
    right: -30px;
}

.slider__control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}