.header {
    text-align: center;
    font-family: sans-serif;
}

.body {
    background: ghostwhite;
}

.location {
    text-align: center;
    font-family: sans-serif;
}

.slider {
    position: relative;
    width: 768px;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 1024px;
    display: flex;
    flex-direction: row;
    transition: transform 0.6s ease;
}

.slider-item {
    align-self: stretch;
    width: 256px;
    background: aliceblue;
    outline: white solid 2px;
}

.item-day, .item-date, .item-image, .item-tempDay, .item-tempNight, .item-cloud, .item-rain {
    text-align: center;
    font-family: sans-serif;
}

.item-day {
    margin-top: 15px;
    font-weight: 600;
}

.item-date {
    margin-top: 12px;
    font-weight: bold;
    font-size: 26px;
}
.item-image {
    margin-top: -20px;
}

.item-tempDay {
    font-weight: bold;
    font-size: 26px;
}

.item-tempNight {
    font-weight: 600;
    font-size: 18px;
}

.item-cloud {
    margin-top: 15px;
    font-weight: 600;
}

.item-rain {
    margin-bottom: 15px;
    font-weight: 600;
}

.slider__control {
    position: absolute;
    top: 45%;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    height: 50px;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider__control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}